extends layouts/main-layout.pug

block content 
    form(action="/admin/add-product" method="POST")
        .form-group.row
            label(for="name").form-label Product Name
            .col-sm-10
                input(type="text" name="name").form-control#name
        .form-group.row
            label(for="price").form-label Price
            .col-sm-10
                input(type="text" name="price").form-control#price
        .form-group.row
            label(for="imageUrl").form-label İmage
            .col-sm-10
                input(type="text" name="imageUrl").form-control#imageUrl
        .form-group.row
            label(for="desc").form-label Description
            .col-sm-10
                input(type="text" name="desc").form-control#desc
        
        .form-group.row.mt-3
            .col-sm-10
                input(type="submit" value="Save Product").btn.btn-primary